


.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip__bubble {
  display: none;
  position: absolute;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  border-radius: 10px;
  padding: 13px 21px;
  background-color: var(--blue-2);
  color: var(--grey-2);
  white-space: nowrap;
  top: calc(20% + 15px);
  transform: translateX(40%);
}

.tooltip__bubble:before {
  content: '';
  border: 10px solid transparent;
  border-top-color: var(--blue-2);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__icon {
  margin: 100px 0 0 100px;
}

.tooltip__icon:hover ~ .tooltip__bubble {
  display: block;
}